.user-picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(230, 230, 252);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 50%;
}
