.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        z-index: -1;
        opacity:0;
        transform: translateY(-50px);
    }
    100% {
        z-index: -1;
        opacity:1;
        transform: translateY(0px);
    }
}
