textarea {
    resize: none;
}

#pictureUpload {
    opacity:0;
    filter:alpha(0);
    font-size:199px;
    cursor:pointer;
    padding:0px;
    margin:0px;
    border:none;
    margin-left:-450px;
}

.drop-zone {
    width: 100%;
    height: 400px;
}