.collections-container {
    gap: 20px;
}

.collections-container .card-img-top {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.delete-collection {
    cursor: pointer;
}

.collections-container .card:hover {
    backface-visibility: hidden;
    border-color: #007bff;
    transition: transform 0.1s ease-in-out;
    transform-style: preserve-3d;
    transform: translate3d(-5px, 5px, 0);
    -webkit-font-smoothing: antialiased;
}